html > body {
	.dialogue_popup:has(.stsc--modal) {
		aspect-ratio: unset;
	}
}
.stsc--modal {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 100%;
	text-align: left;
	> .stsc--swipes, > .stsc--snippets {
		flex: 1 1 0;
	}
	.stsc--swipes {
		display: flex;
		flex-direction: column;
		> .stsc--head {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0.5em;
			padding: 0 10px;
			> .stsc--tab {
				min-width: 1em;
				text-align: center;
				background: hsl(from var(--SmartThemeBlurTintColor) h s calc(l + 0.25));
				padding: 0 0.5em;
				border: 1px solid hsl(from var(--SmartThemeBlurTintColor) h s calc(l - 0.05));
				border-bottom: none;
				opacity: 0.5;
				transition: 200ms;
				cursor: pointer;
				&.stsc--active {
					background-color: hsl(from var(--SmartThemeBlurTintColor) h s calc(l - 0.05));
					opacity: 1;
				}
			}
		}
		> .stsc--content {
			flex: 1 1 auto;
			background-color: hsl(from var(--SmartThemeBlurTintColor) h s calc(l - 0.05));
			overflow: auto;
			margin: 0;

			[data-stsc--segment] {
				transition: 200ms;
				cursor: pointer;
				opacity: 0.8;
				&.stsc--selected {
					background-color: rgba(200 200 200 / 20%);
					opacity: 1;
				}
				&:hover, &.stsc--hover {
					background-color: rgba(200 200 200 / 50%);
				}
			}
		}
	}
	.stsc--snippets {
		background-color: hsl(from var(--SmartThemeBlurTintColor) h s calc(l - 0.05));
		overflow: auto;
		> .stsc--snippet {
			cursor: grab;
			padding: 0 5px;
			font-size: small;
			opacity: 0.75;
			width: unset;
			&:hover {
				opacity: 1;
			}
		}
	}
}




#stsc--settings {
  label {
    flex: 1 1 auto;
  }
  #stsc--preview {
    white-space: pre-wrap;
  }
}
